<form action = /query method="POST">
       <h1> <label for="username">What would you like me to say when you are Upset?</label></h1>
        <input type="text" name="username" id="username" size="15">
        <input type="submit" name="submit" id="submit"/>
</form>
<form action = /query method="POST">
        <h1><label for="username">What would you like me to say when you are Happy?</label></h1>
        <input type="text" name="username" id="username" size="15">
        <input type="submit" name="submit" id="submit"/>
</form>
<form action = /query method="POST">
        <h1><label for="username">What would you like me to say when you are Angry?</label></h1>
        <input type="text" name="username" id="username" size="15">
        <input type="submit" name="submit" id="submit"/>
</form>