
<body style="background-color:green;">
<center>
<form action = /query method="POST">
       <h1> <label for="username">What would you like me to say when you are Upset?</label></h1>
        <input type="text" name="username" id="username" size="15">
        <input type="submit" name="submit" id="submit"/>
        </center>
</form>
<center><img src="https://cdn0.iconfinder.com/data/icons/emoticons-round-smileys/137/Emoticons-14-512.png" width="200" 
     height="300" alt="Italian Trulli">  
     </center>
     <center>
<form action = /query method="POST">
        <h1><label for="username">What would you like me to say when you are Happy?</label></h1>
        <input type="text" name="username" id="username" size="15">
        <input type="submit" name="submit" id="submit"/>
     
</center>
</form>
<center>
<img src="https://m.media-amazon.com/images/I/51zLZbEVSTL._AC_SL1200_.jpg" width="200" 
     height="300" alt="Italian Trulli"> 
     </center> 
     <center> 
<form action = /query method="POST">
        <h1><label for="username">What would you like me to say when you are Angry?</label></h1>
        <input type="text" name="username" id="username" size="15">
        <input type="submit" name="submit" id="submit"/>
        </center>
</form>
<center>
<img src="https://i.etsystatic.com/11307494/r/il/07bcf2/2957664739/il_570xN.2957664739_bgee.jpg" width="200" 
     height="300" alt="Italian Trulli">
     </center>